---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Accessibility Course</title>
  </head>
  <Header />
  <body class="bg-[#f1f5f9] font-sans">
    <main
      id="main-content"
      class="flex justify-center min-h-[calc(100vh-4rem-4rem)]"
    >
      <div class="max-w-[80ch] p-4">
        <h1>About</h1>
      </div>
    </main>
  </body>

  <Footer />
</html>
