---
import "../styles/global.css";
import { Content as Home } from "../content/lessons/01_intro/home.md";
import LessonGroups from "../components/LessonGroups.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Accessibility Course">
  <main
    id="main-content"
    class="flex justify-center min-h-[calc(100vh-4rem-4rem)]"
  >
    <div class="p-4">
      <div class="prose prose-neutral max-w-[80ch]">
        <Home />
      </div>
      
      <section class="mt-8">
        <h2 class="text-2xl font-bold text-text mb-4">Start Learning</h2>
        <LessonGroups />
      </section>
    </div>
  </main>
</BaseLayout>
