---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import LessonGroups from "../components/LessonGroups.astro";
---

<BaseLayout title="Lessons">
  <main
    id="main-content"
    class="flex justify-center min-h-[calc(100vh-4rem-4rem)]"
  >
    <div class="max-w-screen-lg w-full p-4">
      <h1 class="text-2xl font-bold text-text mb-4">Lessons</h1>
      <LessonGroups />
    </div>
  </main>
</BaseLayout>
