---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import ReportBarrierForm from "../components/ReportBarrierForm.jsx";
---

<BaseLayout title="Report a Barrier">
  <main id="main-content" class="flex justify-center flex-grow">
    <div class="max-w-[80ch] p-4">
      <h1>Report an Accessibility Issue</h1>
      <ReportBarrierForm client:load />
    </div>
  </main>
</BaseLayout>
