---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SideNav from "../components/SideNav.astro";
import BottomNav from "../components/BottomNav.astro";
import SidebarToggle from "../components/SidebarToggle.jsx";
import ActivityLoader from "../components/ActivityLoader";

let { activity, groupedLessonsArray, title } = Astro.props;

if (!Array.isArray(groupedLessonsArray)) {
  groupedLessonsArray = [];
}
---

<BaseLayout title={title}>
  <div class="flex w-full min-h-screen">
    <SidebarToggle client:load />
    <SideNav groupedLessonsArray={groupedLessonsArray} />

    <div class="flex flex-col flex-1">
      <main id="main-content" class="mx-0 pl-10 pb-0 mb-0 flex-1">
        <div class="p-4 text-text-color">
          <slot />
        </div>
        {activity && <ActivityLoader activity={activity} client:visible />}
      </main>
      <BottomNav groupedLessonsArray={groupedLessonsArray} />
    </div>
  </div>
</BaseLayout>
