/* make the headings work out when coming from md. figure out that typography thingy? */
/* fix variables :( */
/* fix link text color */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Variables */
  --primary-color: #2c5c3a;
  --hover-dark-color: #20422a;
  --light-green: #c2eebf;
  --accent-color: #2c5c3a;
  --accent-color-dark: #20422a;
  --background-color: #ffffff;
  --text-color: #13242b;
  --light-gray: #f1f1f1;
  --dark-gray: #737373;
  --darker-gray: #414141;
  --code-bg: #e8e8e8;
  --code-text-color: #326273;

  /* Font Variables */
  --body-font: "Nunito Sans", monospace;
}

/* html, body {
  height: 100%;
} */


html {
  font-family: var(--body-font);
}

/* Custom Focus Indicator */
:focus {
  outline: 3px solid var(--accent-color-dark);
  outline-offset: 2px;
}

.activity {
  max-width: 80%;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover,
a:focus {
  color: var(--hover-dark-color);
}

.uppercase {
  text-transform: uppercase;
}

input[type="color"] {
  border-radius: 5px;
  padding: 0;
  border: 2px solid var(--dark-gray);
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

pre {
  @apply p-4 mt-4 mb-0 mx-4 rounded-lg overflow-x-auto;
  background-color: var(--code-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 100%;
}

p,
ul,
ol {
  max-width: 75ch;
}

p code,
ul code,
ol code {
  background-color: var(--code-bg);
  color: var(--text-color);
  padding: 0.2rem 0.4rem;
  font-family: monospace;
  font-size: 0.85rem;
  @apply rounded-lg overflow-x-auto;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  /* background-color: var(--code-bg); */
  padding: 0.2rem 0.4rem;
  font-family: monospace;
  @apply rounded-lg overflow-x-auto;
  color: var(--primary-color);
}

p {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin: 10px 0;
}

#root {
  font-size: 5rem;
}

#root-subheading {
  margin-top: -1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font);
  margin-top: 1rem;
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--dark-gray);
}

h2 {
  font-size: 2.25rem;
  font-weight: 800;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

.subheading {
  font-family: var(--body-font);
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.subheading code {
  font-family: monospace;
  color: var(--code-text-color);
  border-radius: 0.3rem;
  font-size: 0.9em;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 10px;
  background: var(--primary-color);
  color: white !important;
  padding: 10px;
  z-index: 100;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 10px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--body-font);
}

.navbar {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--body-font);
}

#logo img {
  width: 30%;
  margin: 0 auto;
}

.navlinks a,
.nav-container a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 10px;
  font-family: var(--body-font);
  border-bottom: 2px solid transparent;
}

.navlinks a:hover,
.navlinks a:focus,
.nav-container a:hover,
.nav-container a:focus {
  border-bottom: 2px solid var(--hover-dark-color);
}

.navlinks a.active,
.nav-container a.active {
  border-bottom: 2px solid var(--accent-color-dark);
  color: var(--accent-color-dark);
}

/* manual override for sidenav ul */
.side-nav {
  list-style-type: none;
}

footer {
  color: var(--primary-color);
  padding: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover,
footer a:focus {
  color: var(--hover-dark-color);
}

footer .small-text {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: var(--primary-color);
}

/* .prose ul {
  list-style-type: disc !important;
  margin-left: 1.5rem;
}

.prose ol {
  list-style-type: decimal !important;
  margin-left: 1.5rem;
} */

/* manual ul/ol bc prose is stupid */
ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navlinks {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  }

  .navlinks a {
    display: inline-block;
    width: auto;
  }

  footer {
    font-size: 1rem;
  }

  footer .small-text {
    font-size: 0.875rem;
  }

  #logo img {
    width: 10%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  footer {
    font-size: 1.1rem;
  }
}

.px-10.py-4 a {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.px-10.py-4 a:hover,
.px-10.py-4 a:focus {
  background-color: var(--hover-dark-color);
}

.start-button {
  background-color: var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: var(--body-font);
  color: var(--background-color);
}

.start-button:hover,
.start-button:focus {
  background-color: var(--accent-color-dark);
}

@media (max-width: 1023px) {
  #merged-sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 80%;
    height: 100%;
  }

  body.sidebar-open #merged-sidebar {
    transform: translateX(0);
  }
}

/* ICONS */
.material-symbols--palette-outline {
  display: inline-block;
  width: 4em; /* changed */
  height: 4em; /* changed */
  color: var(--accent-color);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.05 0-3.875-.788t-3.187-2.15t-2.15-3.187T2 12q0-2.075.813-3.9t2.2-3.175T8.25 2.788T12.2 2q2 0 3.775.688t3.113 1.9t2.125 2.875T22 11.05q0 2.875-1.75 4.413T16 17h-1.85q-.225 0-.312.125t-.088.275q0 .3.375.863t.375 1.287q0 1.25-.687 1.85T12 22m-5.5-9q.65 0 1.075-.425T8 11.5t-.425-1.075T6.5 10t-1.075.425T5 11.5t.425 1.075T6.5 13m3-4q.65 0 1.075-.425T11 7.5t-.425-1.075T9.5 6t-1.075.425T8 7.5t.425 1.075T9.5 9m5 0q.65 0 1.075-.425T16 7.5t-.425-1.075T14.5 6t-1.075.425T13 7.5t.425 1.075T14.5 9m3 4q.65 0 1.075-.425T19 11.5t-.425-1.075T17.5 10t-1.075.425T16 11.5t.425 1.075T17.5 13M12 20q.225 0 .363-.125t.137-.325q0-.35-.375-.825T11.75 17.3q0-1.05.725-1.675T14.25 15H16q1.65 0 2.825-.962T20 11.05q0-3.025-2.312-5.038T12.2 4Q8.8 4 6.4 6.325T4 12q0 3.325 2.338 5.663T12 20'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--content-copy-outline-rounded {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 18q-.825 0-1.412-.587T7 16V4q0-.825.588-1.412T9 2h9q.825 0 1.413.588T20 4v12q0 .825-.587 1.413T18 18zm0-2h9V4H9zm-4 6q-.825 0-1.412-.587T3 20V7q0-.425.288-.712T4 6t.713.288T5 7v13h10q.425 0 .713.288T16 21t-.288.713T15 22zm4-6V4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--check-rounded {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.55 15.15l8.475-8.475q.3-.3.7-.3t.7.3t.3.713t-.3.712l-9.175 9.2q-.3.3-.7.3t-.7-.3L4.55 13q-.3-.3-.288-.712t.313-.713t.713-.3t.712.3z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--info-outline-rounded {
  display: inline-block;
  width: 3em;
  height: 3em;
  color: var(--accent-color);
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--menu-rounded {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--arrow-forward-ios-rounded {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--arrow-back-ios-new-rounded {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.55 12l7.35 7.35q.375.375.363.875t-.388.875t-.875.375t-.875-.375l-7.7-7.675q-.3-.3-.45-.675t-.15-.75t.15-.75t.45-.675l7.7-7.7q.375-.375.888-.363t.887.388t.375.875t-.375.875z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
