---
---
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">Accessibility Course</a>
        <div class="navlinks">
            <!-- <a href="/alt-text/">Lesson 1: Alt Text</a> -->
            <!-- <a href="/accessibility-course/src/pages/lessons/">Lessons</a> -->
        </div>
    </div>
</nav>
