---
import type Lesson from "../types/Lesson";

const { groupedLessonsArray } = Astro.props as {
  groupedLessonsArray: [string, Lesson[]][];
};

const formattedLessonsArray = groupedLessonsArray
  .filter(
    (group) =>
      Array.isArray(group) &&
      typeof group[0] === "string" &&
      Array.isArray(group[1])
  )
  .map(([folder, lessons], i) => {
    const title = folder
      .replace(/^\d+_/, "")
      .replace(/-/g, " ")
      .replace(/\b\w/g, (char) => char.toUpperCase());

    const filtered = lessons.filter((lesson) => !lesson.id.endsWith("home.md"));

    const instructions = filtered
      .filter((lesson) => lesson.data.type === "instruction")
      .sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99));

    const activities = filtered
      .filter((lesson) => lesson.data.type === "activity")
      .sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99));

    return {
      index: i + 1,
      title,
      instructions,
      activities,
    };
  });
---

<div
  id="merged-sidebar"
  class="bg-lightgray p-4 w-80 lg:w-96 self-stretch
         transition-transform duration-300 ease-in-out
         transform -translate-x-full sidebar-open:translate-x-0 lg:transform-none lg:translate-x-0"
  role="navigation"
  aria-label="Sidebar Navigation"
>
  {
    Astro.url.pathname.startsWith("/lessons") && (
      <button
        class="lg:hidden absolute top-4 right-4 z-50 p-2 text-primary"
        onclick="window.closeSidebar?.()"
        aria-label="Close sidebar"
      >
        <span class="material-symbols--arrow-back-ios-new-rounded text-primary text-2xl" />
      </button>
    )
  }

  {
    formattedLessonsArray.map(({ index, title, instructions, activities }) => (
      <div class="mb-6">
        <h2 class="mb-2 pl-2 text-lg font-black text-darkergray">
          Lesson {index}: {title}
        </h2>
        <ul class="pl-4 space-y-2 font-medium side-nav">
          {[...instructions, ...activities].map((lesson) => (
            <li>
              <a
                href={`/lessons/${lesson.slug}`}
                id="sidenav-links"
                class="block w-full p-2 rounded-lg text-md transition font-bold"
              >
                {lesson.data.title}
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
