---
import Layout from '../../layouts/LessonLayout.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { getGroupedLessons } from '../../utils/getGroupedLessons';

const groupedLessonsArray = await getGroupedLessons();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Accessibility Course</title>
  </head>
  <body>
    <!-- <Header /> -->
    <Layout groupedLessonsArray={groupedLessonsArray} />
    <main id="main-content" class="flex-1 mx-0 pl-10 min-h-[calc(100vh-4rem-4rem)]">
      <slot></slot>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
