---
const { url } = Astro;
const currentPath = url.pathname;
---

<nav class="navbar">
  <div class="nav-container">
    <a
      href="/"
      id="logo"
      class={`inline-block ${currentPath === "/" ? "active" : ""}`}
      aria-current={currentPath === "/" ? "page" : undefined}
    >
      <img src="/images/root_logo.png" alt="home" class="block" />
    </a>

    <div class="navlinks">
      <a
        href="/lessons"
        class={`navlink ${currentPath.startsWith("/lessons") ? "active" : ""}`}
        aria-current={currentPath.startsWith("/lessons") ? "page" : undefined}
        >Lessons</a
      >
      <a
        href="/about"
        class={`navlink ${currentPath === "/about" ? "active" : ""}`}
        aria-current={currentPath === "/about" ? "page" : undefined}>About</a
      >
      <a
        href="/contact"
        class={`navlink ${currentPath === "/contact" ? "active" : ""}`}
        aria-current={currentPath === "/contact" ? "page" : undefined}
        >Contact</a
      >
    </div>
  </div>
</nav>
