---
---
<nav class="navbar">
    <div class="nav-container">
        <a href="/" id="logo">root</a>
        <div class="navlinks">
            <a href="/lessons" class="navlink">Lessons</a>
            <a href="/about" class="navlink">About</a>
            <a href="/contact" class="navlink">Contact</a>
        </div>
    </div>
</nav>
